.video-container {
  position: relative;
  width: 100%;
  top: 80px;
}

video {
  height: auto;
  object-fit: cover;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.video-container video::-webkit-media-controls {
  display: none !important;
}

.video-container video::-moz-media-controls {
  display: none !important;
}

