@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100&display=swap');
@font-face {
    font-family: 'Great Sejagad';
    src: url('/fonts/GreatSejagad.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


.section-background {
    background-image: url("/images/md-ripples-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 656px;
}

.font-authentic-text {
    font-family: 'Great Sejagad', cursive;
    font-weight: 100;
    line-height: 70px;
    letter-spacing: 0;
    word-spacing: 0;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
}

.font-oswald {
    font-family: "Oswald", sans-serif;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(farthest-side at top left, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0) 90%), 
              radial-gradient(farthest-side at top right, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0) 90%);
  z-index: 1;
}

